<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上机考试系统</title>

    <!--默认样式-->
	<link rel="stylesheet" href="/static/css/reset.css">
	<!--响应式框架-->
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<!--导航样式-->
	<link rel="stylesheet" href="/static/css/head.css" />
    <link href="/static/css/body.css" rel='stylesheet' type='text/css' />

     <script>
        function mytime(){
        var a = new Date();
        var b = a.toLocaleTimeString();
        var c = a.toLocaleDateString();
        document.getElementById("Time").innerHTML = c+"&nbsp"+b;
        }
        setInterval(function() {mytime()},1000);
     </script>

</head>
<body>
    <ul class="Head">
        <li class="Logo">
            <img src="/static/images/Logo.png" align="left">
        </li>
        <li class="Title">
           <h1>上机考试系统</h1>
        </li>
        <li class="Time" id="Time">

        </li>
    </ul>

    <!-- 导航 -->
	<header class="header">

			<div class="fr nav">
				<ul class="navbar_nav" data-in="fadeInDown" data-out="fadeOutUp">
					<li  style="border: none;margin-left: 40%" class="home">
						<a href="/student">首页</a>
                    </li>
                    <li class="seesubmit" style="border: none">
						<a href="javascript:void(0)">查看提交</a>
                    </li>
                    <li class="welcome1">欢迎，{{ studentname }}</li>
                    <li style="border: none;" class="logout">
						<a href="/student/logout">注销</a>
                    </li>

				</ul>


		</div>

	</header>
    <script src="/static/js/jquery.min.js"></script>

    {% block content %}
    {% endblock %}

</body>
</html>