{% extends 'Teacher/teacher_base.html' %}

{% block context %}
    <link href="/static/css/form.css" rel="stylesheet" type="text/css"/>
    <h2>考试清理</h2>
    <div  class="w3ls-login box">
        <form method="post">
            {% csrf_token %}
            <div class="agile-field-txt" style="color: red">
                <label>是否确定清理考试信息?</label>
            </div>

            <div class="w3ls-bot">
                <input type="submit" value="确定"/>
            </div>
        </form>
    </div>
{% endblock %}