<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教师后台管理</title>

    <!--默认样式-->
	<link rel="stylesheet" href="/static/css/reset.css">
	<!--响应式框架-->
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<!--导航样式-->
	<link rel="stylesheet" href="/static/css/head.css" />
    <link href="/static/css/body.css" rel='stylesheet' type='text/css' />
    <link href="/static/css/style.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/static/css/student_download.css">
     <script>
        function mytime(){
        var a = new Date();
        var b = a.toLocaleTimeString();
        var c = a.toLocaleDateString();
        document.getElementById("Time").innerHTML = c+"&nbsp"+b;
        }
        setInterval(function() {mytime()},1000);
     </script>

</head>
<body>

    <!-- 导航 -->
	<header class="header">
        <ul class="ul1">
            <li class="Logo">
                <img src="/static/images/Logo.png" align="left">
            </li>
            <li class="Title" id="Title">
               上机考试系统
            </li>
            <li class="Time" id="Time">

            </li>
        </ul>
        <div class="container clearfix">
			<div class="fr nav">
				<ul class="navbar_nav" data-in="fadeInDown" data-out="fadeOutUp">
					<li  style="border: none;" class="home">
						<a href="/teacher">首页</a>
                    </li>
                    <li class="new">
						<a href="/teacher/newexam">新建考试</a>
                    </li>
					<li class="dropdown edit">
						<a href="javascript:void(0)">
							编辑考试
                        </a>
						<div class="dropdown_menu">
							<a href="/teacher/fileupload">试卷上传</a>
                            <a href="/teacher/filedownload">答卷下载</a>
							<a href="/teacher/importstudents">学生名单导入</a>
							<a href="/teacher/startexam">开启考试</a>
                            <a href="/teacher/endexam">结束考试</a>
                        </div>
					</li>
                    <li class="info">
						<a href="/teacher/showexamstatus">考试情况</a>
                    </li>
					<li class="dropdown manage">
						<a href="javascript:void(0)">学生管理</a>
						<div class="dropdown_menu">
							<a href="/teacher/studentinfo">学生信息管理</a>
							<a href="/teacher/unlockip">解除学生登录锁定</a>
                        </div>
					</li>
                    <li class="clean">
						<a href="/teacher/clean">考试清理和删除</a>
                    </li>
                    <li style="border: none;" class="note">
						<a href="/teacher/sendmsg">通知管理</a>
                    </li>
                    <li style="border: none;" class="logout">
						<a href="/teacher/logout">注销</a>
                    </li>
				</ul>
		    </div>
            <a href="javascript:void(0)" id="navToggle">
	            <span></span>
	        </a>
        </div>
        <!--移动端的导航-->
	    <div class="m_nav">
		<div class="top clearfix">
			<img src="/static/images/closed.png" alt="" class="closed" />
		</div>
        <ul class="ul" data-in="fadeInDown" data-out="fadeOutUp">
            <li class="active">
						<a href="/teacher">首页</a>
                    </li>
            <li>
                <a href="/teacher/newexam">新建考试</a>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)">
                    编辑考试
                </a>
                <div class="dropdown_menu">
                    <a href="/teacher/fileupload">试卷上传</a>
                    <a href="/teacher/filedownload">答卷下载</a>
                    <a href="/teacher/importstudents">学生名单导入</a>
                    <a href="/teacher/startexam">开启考试</a>
                    <a href="/teacher/endexam">结束考试</a>
                </div>
            </li>
            <li>
                <a href="/teacher/showexamstatus">考试情况</a>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)">学生管理</a>
                <div class="dropdown_menu">
                    <a href="/teacher/studentinfo">学生信息管理</a>
                    <a href="/teacher/unlockip">解除学生登录锁定</a>
                </div>
            </li>
            <li>
                <a href="/teacher/clean">考试清理和删除</a>
            </li>
            <li>
                <a href="/teacher/sendmsg">通知管理</a>
            </li>
            <li>
                <a href="/teacher/logout">注销</a>
            </li>
        </ul>
    </div>

	</header>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/Teacher/jquery.fullPage.min.js"></script>
	<script src="/static/js/Teacher/index_slick.js"></script>
	<script src="/static/js/Teacher/index.js"></script>
    <script src="/static/js/font.js"></script>
    <link href="/static/css/skin.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="/static/js/Cxc-Dialog.js" type="text/javascript"></script>
    <script>
        {% if messages %}
            {% for msg in messages %}
                    CxcDialog('提示框', '{{ msg }}', '{{ msg.tags }}');
            {% endfor %}
        {% endif %}
    </script>
    {% block context %}
    {% endblock %}

</body>
</html>