{% extends 'Teacher/teacher_base.html' %}

{% block context %}
    <link rel="stylesheet" href="/static/css/student_download.css">

    <div class="table-wrapper">
        <table class="fl-table">
            <caption>试卷上传</caption>
            <thead>
                <tr>
                    <th>考试名称</th>
                    <th>浏览文件</th>
                    <th>选择文件内容</th>
                    <th>开始上传</th>
                </tr>
            </thead>
            <tbody>
                {% for exam in exams %}
                    <tr>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <td>{{ exam.Examtitle }}</td>
                            <input hidden name="examtitle" value="{{ exam.Examtitle }}">
                            <td>
                                <button type="button" onclick="path.click()"
                                        class="btn btn-info glyphicon glyphicon-folder-open">
                                    浏览
                                </button>
                            </td>
                            <td>
                                <input type="text" name="upfile" id="upfile"
                                       class="form-control" placeholder="未选择文件"
                                       readonly="readonly"

                                >
                            </td>
                            <input type="file" id="path" name="upload" style="display: none" onchange="upfile.value=this.value">
                            <td>
                                <button type="submit"
                                        class="btn btn-info glyphicon glyphicon-cloud-upload"
                                        style="display: inline">
                                    上传
                                </button>
                            </td>
                        </form>
                    </tr>

                {% endfor %}
            <tbody>
        </table>
    </div>

{% endblock %}