{% extends base_template %}
{% load i18n xadmin_tags %}

{% load crispy_forms_tags %}

{% block extrastyle %}{{ block.super }}
	<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
    <link href="/static/css/body.css" rel='stylesheet' type='text/css' />
    <script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block body %}
    <div class="container">
    <h1>上机考试系统</h1>
    <div class="w3ls-login box" id="admin">
        <form action="" method="post" id="login-form">

            {% csrf_token %}
            {% block login_form %}

                <span ><i class="fa fa-user fa-fw"></i></span>
                <input  id="id_username"  name="username" type="text" placeholder="请输入管理员账号"  required="">

                <span><i class="fa fa-lock fa-fw"></i></span>
                <input id="id_password" name="password" type="password" placeholder="请输入管理员密码"  required="">



                <input type="hidden" name="this_is_the_login_form" value="1" />
                <input type="hidden" name="next" value="{{ next }}" />
                {% if form.non_field_errors %}

                    {% if form_error_title %}<h4 class="alert-heading">{{ form_error_title }}</h4>{% endif %}
                    <ul style="color: red">
                        账户或密码错误,请重新输入
                    </ul>

                {% endif %}
                <div class="w3ls-bot">
                  <input type="submit" value="Login">
                </div>

                {% view_block 'form_bottom' %}
            {% endblock %}
        </form>
    </div>
    <div class="copy-wthree">
		<p>Copyright &copy; 2019.Company name All rights reserved.<a target="_blank" href="https://github.com/AloneRevelry/Online_testing">AloneRevelry</a></p>
	</div>

</div>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
{% endblock %}
